@font-face {
    font-family: "pica";
    src: url("font/IMFellDWPica-Regular.ttf");
}

body {
    margin: 0;
    font-family: pica;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#renderer {
    position: absolute;
}

#gui {
    position: absolute;
    width: 100%;
    height: 100%;
}

#distance {
    background-image: url("art/ui/UI_kilometer.png");
    color: #4D3527;
    padding-top: 48px;
    position: absolute;
    width: 454px;
    height: 118px;
    left: 50%;
    margin-left: -227px;
    text-align: center;
    font-size: 46px;
    user-select: none;
}

#money {
    background-image: url("art/ui/UI_Money-Counter.png");
    color: #4D3527;
    position: absolute;
    padding-right: 195px;
    width: 105px;
    height: 79px;
    right: 0;
    text-align: right;
    font-size: 64px;
    user-select: none;
}