@font-face {
    font-family: "pica";
    src: url("font/IMFellDWPica-Regular.ttf");
}

body {
    margin: 0;
    font-family: pica;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#renderer {
    position: absolute;
}

#gui {
    position: absolute;
    width: 100%;
    height: 100%;
}

#distance {
    background-image: url("art/ui/UI_kilometer.png");
    padding-top: 51px;
    position: absolute;
    width: 454px;
    height: 115px;
    left: 50%;
    margin-left: -227px;
    text-align: center;
    font-size: 46px;
    user-select: none;
}

#money {
    position: absolute;
    width: 200px;
    height: 60px;
    right: 20px;
    text-align: right;
    font-size: 64px;
    user-select: none;
}